{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1 align="center">My underground journal</h1>
  <br>
  <div style="
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
    ">
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>
  <br>
<small>You don't have to be Nitish. <a href="signup">Sign up.</a> </small>
  </div>
  
</body>
</html>
